<section class="co module cof2ta flexcol">
  <h4 class="divider center">{{{localize "COF2TA.Sidebar.title"}}}</h4>
  <a class="button" href="https://github.com/Alchimiste36/cof2ta" rel="nofollow noopener" target="_blank" data-tooltip="{{localize 'CO.Sidebar.githubTooltip'}}">
    <i class="fa-brands fa-github" inert></i>
    {{localize "CO.Sidebar.github"}}
  </a>
  <a
    class="button"
    href="https://github.com/Alchimiste36/cof2ta/issues/new/choose"
    rel="nofollow noopener"
    target="_blank"
    data-tooltip="{{localize 'CO.Sidebar.bugReportTooltip'}}"
  >
    <i class="fa-solid fa-bug" inert></i>
    {{localize "CO.Sidebar.bugReport"}}
  </a>
</section>